:root {
  --branding-color: linear-gradient(to right, #9796f0, #fbc7d4);
  --accent-color: #f65282;
  --secondary-color: #fbc7d4;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h5 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 66px;
  border-left: 10px solid #9796f0;
  padding-left: 10px;
}

p {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.gradient-text {
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  margin-bottom: 10px 0 60px;
}

.nav-item {
  padding: 0 10px;
}

.content-container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}

.content-container h1 {
  font-size: 64px;
  font-weight: bold;
  color: var(--branding-color);
}
.navbar a {
  font-size: 20px;
  font-family: var(--heading-font-family);
  color: black;
}

.active {
  color: var(--accent-color) !important;
}

.logo {
  width: 44px;
  height: 44px;
}

.hero {
  background: var(--branding-color);
  text-align: center;
  max-height: 700px;
  padding: 120px;
  border-radius: 44px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-size: 28px;
  font-family: var(--default-font-family);
  line-height: 2;
  border: none;
  padding: 0;
}

.main-button {
  border-radius: 32px;
  padding: 8px 36px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-size: 20px;
}

.secondary-button {
  color: black;
  font-size: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.main-button:hover {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.secondary-button:hover {
  color: var(--accent-color);
}

.skills-section {
  margin: 80px 0;
}

.skills-section p {
  font-size: 16px;
}

.skill-icon {
  max-width: 60px;
  height: auto;
}

.card-title {
  font-size: 32px;
}

.profile-photo {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  vertical-align: middle;
}

.about-content h2 {
  font-size: 24px;
  line-height: 1.5;
}

.project-img {
  width: 600px;
}

footer .contact-box {
  background: var(--secondary-color);
  max-width: 90%;
  margin: 80px auto;
  padding: 30px 60px;
  border-radius: 10px;
}

footer h3 {
  font-size: 40px;
}

footer p {
  font-size: 18px;
}

footer .email-link a {
  font-family: var(--heading-font-family);
  font-size: 24px;
  color: black;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer .email-link a:hover {
  color: var(--accent-color);
}

footer .social-links a {
  color: black;
  margin: 0 20px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--accent-color);
}

.signature {
  background: black;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.signature p {
  margin: 0 50px;
  opacity: 0.7;
  font-size: 16px;
}

.contact-message {
  font-size: 28px;
}

@media (max-width: 768px) {
  .content-container {
    width: 90%;
    max-width: 700px;
  }

  .hero {
    padding: 60px;
  }

  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 48px;
  }

  h5 {
    font-size: 28px;
  }

  .signature p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .content-container {
    width: 95%;
    max-width: 400px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .hero p {
    font-size: 24px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h5 {
    font-size: 28px;
  }

  .icon-container div {
    flex-basis: 50%;
    max-width: 50%;
  }

  .signature p {
    font-size: 12px;
  }
}
